@model List<eCom.EntityLayer.Concrete.BItem>
@{
    ViewData["Title"] = "BuyItems";
    Layout = "~/Views/Shared/_eComLayout.cshtml";
}

<h1>Sepettekileri Satın Al</h1>
<h3>Toplam tutar:@ViewBag.total </h3>


