
@{
    ViewData["Title"] = "SuccessPage";
    Layout = "~/Views/Shared/_eComLayout.cshtml";
}

<h1>@ViewBag.success</h1>
<br />
<h3><a href="/Item/Index/">Ana Sayfaya Gitmek İçin Tıklayın...</a></h3>

